{% extends "base.html" %}

{% block title %}User Edit Page{% endblock %}

{% block content %}

<h1> Edit a User</h1>
<form id="edituserform" method="post">

  <div>
    <label for="firstname"> First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Enter a first name" required>
  </div>
  <div>
    <label for="lastname"> Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Enter a last name" required>
  </div>
  <div>
    <label for="imageurl"> Image URL</label>
    <input type="text" id="imageurl" name="imageurl" placeholder="Provide an image of this user" required>
  </div>
<!-- <button id="cancelbtn" action="/user/[userid****]"> Cancel</button> -->
<button id="savebtn" method="post"> Save </button>

<form action="/users/{{user.id}}" method="get">
<button>cancel</button>
</form>


{% endblock %}