{% extends "base.html" %}

{% block title %}User Detail Page{% endblock %}

{% block content %}

<form action="/users/{{user.id}}/edit">
<img src="{{user.image_url}}" alt="">
<h1> {{user.first_name}} {{user.last_name}}</h1>

<button id="editbtn">Edit</button>
</form>

<form action="/users/{{user.id}}/delete" method="post">
<button id="deletebtn" > Delete </button>
</form>

<h2>Posts</h2>
<ul>
  {% for post in posts%}
  <li><a>{{post.title}}</a></li>
  {% endfor %}
</ul>

<form action="/users/{{user.id}}/posts/new" method="get">
  <button>Add Post</button>
</form>


{% endblock %}
