{% extends "base.html" %}

{% block title %}New User From{% endblock %}

{% block content %}
<h1> Create a User</h1>
<form id="userform" method="post" action = "/users/new">

  <div>
    <label for="firstname"> First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Enter a first name" required>
  </div>
  <div>
    <label for="lastname"> Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Enter a last name" required>
  </div>
  <div>
    <label for="imageurl"> Image URL</label>
    <input type="text" id="imageurl" name="imageurl" placeholder="Provide an image of this user">
  </div>
<button>Add</button>

</form>


{% endblock %}









